.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 0rem;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 6rem;
}
